<h1>Editing Direct Mail</h1>

<%= render 'form', direct_mail: @direct_mail %>
<br>
<%= link_to '詳細', @direct_mail, class: "btn btn-primary" %>
<%= link_to 'もどる', direct_mails_path, class: "btn btn-danger" %>